.items {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    color: rgb(0, 0, 64);
    box-shadow: 3px 2.5px #a2a2a2;
    padding: 10px 10px;
    margin-top: 1.5rem;
    text-align: center;
    width: 12rem;
    height: 7.5rem;
    border: 0.5px solid rgb(255, 255, 255);
}

.items > p {
    margin: 10px;
    text-shadow: rgb(255, 255, 255) 1px 1px 1.7px;
    font-weight: bold;
    font-size: 16px;
}

.hidden {
    display: none
}